<!DOCTYPE html>
<html lang="es">

<%- include('incs/head') %>

    <body>
        <%- include('incs/header') %>
            <div class="container">
                <% for (let level of ['success', 'warning', 'danger', 'info']) { %>
                    <% if (messages[level]) { %>
                        <% for (let m of messages[level]) { %>
                            <div class="alert alert-<%- level %> alert-dismissible fade show" id="alert" role="alert">
                                <%= m %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>                
                <div class="card">
                    <div class="card-body">
                        <form class="form-signin" action="login" method="post">
                            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
                                alt="" width="72" height="72">
                            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

                            <div class="form-group">
                                <label for="inputEmail" class="sr-only">Email address</label>
                                <input type="email" name="email" id="inputEmail" class="form-control <%- (errors('email'))?'is-invalid':''%>" placeholder="Email address"
                                    required autofocus value="<%- old('email') %>">
                                <div class="invalid-feedback">
                                    <ul>

                                    </ul>
                                </div>                                    
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control <%- (errors('password'))?'is-invalid':''%>" placeholder="Password"
                                    required>
                                    <div class="invalid-feedback">
                                        <ul>
                                        <% for (let e of errors('password')??[]) { %>
                                            <li><%- e %></li>
                                        <% } %>
                                        </ul>
                                    </div>                                     
                            </div>

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
                        </form>
                    </div>
                </div>
            </div>
            <%- include('incs/footer') %>
    </body>

</html>